[submodule "twitterclone-DeanNevins"]
	path = twitterclone-DeanNevins
	url = https://github.com/kenzie-se-q4/twitterclone-DeanNevins
[submodule "twitterclone"]
	path = twitterclone
	url = git@github.com:DeanNevins/twitterclone.git
[submodule "dirwatcher"]
	path = dirwatcher
	url = git@github.com:DeanNevins/dirwatcher.git
[submodule "bugtracker"]
	path = bugtracker
	url = git@github.com:DeanNevins/bugtracker.git
